.back-button {
    background-color: #D60200;
    color: white;
    border-radius: 5%;
    position: fixed;
    top: 0;
    left: 1rem;
    padding: 0.5em 1em;
}

.board {
    background-color: #EFC49B;
    border: 1.5rem solid #D8A87B;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1.5rem;
    margin-top: 4rem;;
    padding: 1.5rem;
}

.card-display {
    background-color: white;
    width: 200px;
    height: 250px;
}

.add-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    background: #F7DEC7;
    border: medium white dashed;
    margin: 0;
}

.modal-close {
    background-color: #D60200;
    color: white;
}